@model List<Product>

<!-- ================ start banner area ================= -->
<section class="blog-banner-area" id="category">
    <div class="container">
        <div class="blog-banner">
            <div class="text-center">
                <h1>Shop</h1>
            </div>
        </div>
    </div>
</section>
<!-- ================ end banner area ================= -->

<!-- ================ category section start ================= -->
<section class="section-margin--small mb-5">
    <div class="container">
        <div class="row">
            <div class="col-xl-3 col-lg-4 col-md-5">
                <div class="sidebar-categories">
                    <div class="head">Browse Categories</div>
                    <ul class="main-categories">
                        <li class="common-filter">
                            <form action="#">
                                <ul>
                                    <li class="filter-list"><input class="pixel-radio" type="radio" id="computers" name="computers"><label for="computers">Computers<span> (100)</span></label></li>
                                    <li class="filter-list"><input class="pixel-radio" type="radio" id="television" name="television"><label for="television">Television<span> (100)</span></label></li>
                                    <li class="filter-list"><input class="pixel-radio" type="radio" id="mobiles" name="mobiles"><label for="mobiles">Mobiles<span> (100)</span></label></li>
                                    <li class="filter-list"><input class="pixel-radio" type="radio" id="gaming" name="gaming"><label for="gaming">Gaming<span> (100)</span></label></li>
                                </ul>
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-9 col-lg-8 col-md-7">
                <!-- Start Filter Bar -->
                <div class="filter-bar d-flex flex-wrap align-items-center">
                    <div class="sorting">
                        <select>
                            <option value="0">None</option>
                            <option value="1">Price Ascending</option>
                            <option value="2">Price Descending</option>
                        </select>
                    </div>
                    <div class="sorting mr-auto">
                        <select>
                            <option value="0">Show 10</option>
                            <option value="1">Show 20</option>
                            <option value="2">Show 50</option>
                        </select>
                    </div>
                    <div>
                        <div class="input-group filter-bar-search">
                            <input type="text" placeholder="Search">
                            <div class="input-group-append">
                                <button type="button"><i class="fa fa-search"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Filter Bar -->

                <!-- Start Products -->
                <section class="lattest-product-area pb-40 category-list">
                    <div class="row">
                        @foreach (var p in Model)
                        {
                            <partial name="ProductSummaryPartial" model="p" />
                        }
                    </div>
                </section>
                <!-- End Products -->
            </div>
        </div>
    </div>
</section>
<!-- ================ category section end ================= -->