<!-- ================ start banner area ================= -->
<section class="blog-banner-area" id="category">
    <div class="container">
        <div class="blog-banner">
            <div class="text-center">
                <h1>Shop</h1>
            </div>
        </div>
    </div>
</section>
<!-- ================ end banner area ================= -->

<!-- ================ category section start ================= -->
<section class="section-margin--small mb-5">
    <div class="container">
        <div class="row">
            <div class="col-xl-3 col-lg-4 col-md-5">
                <div class="sidebar-categories">
                    <div class="head">Browse Categories</div>
                    <ul class="main-categories">
                        <li class="common-filter">
                            <form action="#">
                                <ul>
                                    <li class="filter-list"><input class="pixel-radio" type="radio" id="computers" name="computers"><label for="computers">Computers<span> (100)</span></label></li>
                                    <li class="filter-list"><input class="pixel-radio" type="radio" id="television" name="television"><label for="television">Television<span> (100)</span></label></li>
                                    <li class="filter-list"><input class="pixel-radio" type="radio" id="mobiles" name="mobiles"><label for="mobiles">Mobiles<span> (100)</span></label></li>
                                    <li class="filter-list"><input class="pixel-radio" type="radio" id="gaming" name="gaming"><label for="gaming">Gaming<span> (100)</span></label></li>
                                </ul>
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-9 col-lg-8 col-md-7">
                <!-- Start Filter Bar -->
                <div class="filter-bar d-flex flex-wrap align-items-center">
                    <div class="sorting">
                        <select>
                            <option value="0">None</option>
                            <option value="1">Price Ascending</option>
                            <option value="2">Price Descending</option>
                        </select>
                    </div>
                    <div class="sorting mr-auto">
                        <select>
                            <option value="0">Show 10</option>
                            <option value="1">Show 20</option>
                            <option value="2">Show 50</option>
                        </select>
                    </div>
                    <div>
                        <div class="input-group filter-bar-search">
                            <input type="text" placeholder="Search">
                            <div class="input-group-append">
                                <button type="button"><i class="fa fa-search"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Filter Bar -->

                <!-- Start Products -->
                <section class="lattest-product-area pb-40 category-list">
                    <div class="row">
                        <div class="col-md-6 col-lg-4">
                            <div class="card text-center card-product">
                                <div class="card-product__img">
                                    <img class="card-img" src="img/product/product1.png" alt="">
                                    <ul class="card-product__imgOverlay">
                                        <li><button><i class="fa fa-search"></i></button></li>
                                        <li><button><i class="fa fa-shopping-cart"></i></button></li>
                                        <li><button><i class="fa fa-heart"></i></button></li>
                                    </ul>
                                </div>
                                <div class="card-body">
                                    <p>Computers</p>
                                    <h4 class="card-product__title"><a href="#">Acer Laptop Windows 11</a></h4>
                                    <p class="card-product__price">$1599.00</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4">
                            <div class="card text-center card-product">
                                <div class="card-product__img">
                                    <img class="card-img" src="img/product/product2.png" alt="">
                                    <ul class="card-product__imgOverlay">
                                        <li><button><i class="fa fa-search"></i></button></li>
                                        <li><button><i class="fa fa-shopping-cart"></i></button></li>
                                        <li><button><i class="fa fa-heart"></i></button></li>
                                    </ul>
                                </div>
                                <div class="card-body">
                                    <p>Computers</p>
                                    <h4 class="card-product__title"><a href="#">MSI Laptop Windows 11</a></h4>
                                    <p class="card-product__price">$1949.00</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4">
                            <div class="card text-center card-product">
                                <div class="card-product__img">
                                    <img class="card-img" src="img/product/product3.png" alt="">
                                    <ul class="card-product__imgOverlay">
                                        <li><button><i class="fa fa-search"></i></button></li>
                                        <li><button><i class="fa fa-shopping-cart"></i></button></li>
                                        <li><button><i class="fa fa-heart"></i></button></li>
                                    </ul>
                                </div>
                                <div class="card-body">
                                    <p>Computers</p>
                                    <h4 class="card-product__title"><a href="#">Microsoft Surface Pro</a></h4>
                                    <p class="card-product__price">$2199.00</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4">
                            <div class="card text-center card-product">
                                <div class="card-product__img">
                                    <img class="card-img" src="img/product/product4.png" alt="">
                                    <ul class="card-product__imgOverlay">
                                        <li><button><i class="fa fa-search"></i></button></li>
                                        <li><button><i class="fa fa-shopping-cart"></i></button></li>
                                        <li><button><i class="fa fa-heart"></i></button></li>
                                    </ul>
                                </div>
                                <div class="card-body">
                                    <p>Television</p>
                                    <h4 class="card-product__title"><a href="#">Samsung OLED TV</a></h4>
                                    <p class="card-product__price">$3295.00</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4">
                            <div class="card text-center card-product">
                                <div class="card-product__img">
                                    <img class="card-img" src="img/product/product5.png" alt="">
                                    <ul class="card-product__imgOverlay">
                                        <li><button><i class="fa fa-search"></i></button></li>
                                        <li><button><i class="fa fa-shopping-cart"></i></button></li>
                                        <li><button><i class="fa fa-heart"></i></button></li>
                                    </ul>
                                </div>
                                <div class="card-body">
                                    <p>Television</p>
                                    <h4 class="card-product__title"><a href="#">LG TV</a></h4>
                                    <p class="card-product__price">$3045.00</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4">
                            <div class="card text-center card-product">
                                <div class="card-product__img">
                                    <img class="card-img" src="img/product/product6.png" alt="">
                                    <ul class="card-product__imgOverlay">
                                        <li><button><i class="fa fa-search"></i></button></li>
                                        <li><button><i class="fa fa-shopping-cart"></i></button></li>
                                        <li><button><i class="fa fa-heart"></i></button></li>
                                    </ul>
                                </div>
                                <div class="card-body">
                                    <p>Gaming</p>
                                    <h4 class="card-product__title"><a href="#">XBOX Wireless Controller</a></h4>
                                    <p class="card-product__price">$499.00</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4">
                            <div class="card text-center card-product">
                                <div class="card-product__img">
                                    <img class="card-img" src="img/product/product7.png" alt="">
                                    <ul class="card-product__imgOverlay">
                                        <li><button><i class="fa fa-search"></i></button></li>
                                        <li><button><i class="fa fa-shopping-cart"></i></button></li>
                                        <li><button><i class="fa fa-heart"></i></button></li>
                                    </ul>
                                </div>
                                <div class="card-body">
                                    <p>Mobiles</p>
                                    <h4 class="card-product__title"><a href="#"> Samsung S23 Ultra </a></h4>
                                    <p class="card-product__price">$1949.00</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4">
                            <div class="card text-center card-product">
                                <div class="card-product__img">
                                    <img class="card-img" src="img/product/product8.png" alt="">
                                    <ul class="card-product__imgOverlay">
                                        <li><button><i class="fa fa-search"></i></button></li>
                                        <li><button><i class="fa fa-shopping-cart"></i></button></li>
                                        <li><button><i class="fa fa-heart"></i></button></li>
                                    </ul>
                                </div>
                                <div class="card-body">
                                    <p>Mobiles</p>
                                    <h4 class="card-product__title"><a href="#">Apple AirPods Pro</a></h4>
                                    <p class="card-product__price">$339.00</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4">
                            <div class="card text-center card-product">
                                <div class="card-product__img">
                                    <img class="card-img" src="img/product/product1.png" alt="">
                                    <ul class="card-product__imgOverlay">
                                        <li><button><i class="fa fa-search"></i></button></li>
                                        <li><button><i class="fa fa-shopping-cart"></i></button></li>
                                        <li><button><i class="fa fa-heart"></i></button></li>
                                    </ul>
                                </div>
                                <div class="card-body">
                                    <p>Computers</p>
                                    <h4 class="card-product__title"><a href="#">Acer Laptop Windows 11</a></h4>
                                    <p class="card-product__price">$1599.00</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- End Products -->
            </div>
        </div>
    </div>
</section>
<!-- ================ category section end ================= -->