@model Product

<div class="col-md-6 col-lg-4">
    <div class="card text-center card-product">
        <div class="card-product__img">
            <img class="card-img" src="/img/product/@Model.Image" alt="Product image">
            <ul class="card-product__imgOverlay">
                <li><button><i class="fa fa-search"></i></button></li>
                <li><button><i class="fa fa-shopping-cart"></i></button></li>
                <li><button><i class="fa fa-heart"></i></button></li>
            </ul>
        </div>
        <div class="card-body">
            <p>@Model.Category</p>
            <h4 class="card-product__title"><a href="#">@Model.Name</a></h4>
            <p class="card-product__price">@Model.Price.ToString("c")</p>
        </div>
    </div>
</div>