<!--================ Hero banner start =================-->
<section class="hero-banner">
	<div class="container">
		<div class="row no-gutters align-items-center pt-60px">
			<div class="col-4 d-none d-sm-block">
				<div class="hero-banner__img">
					<img class="img-fluid mb-5" src="/img/home/tanya-layko-894NpF26FO4-unsplash-crop.jpg" alt="">
					<!-- (Layko, 2022) -->
				</div>
			</div>
			<div class="col-sm-8 col-lg-6 offset-lg-1 pl-4 pl-md-5 pl-lg-0">
				<div class="hero-banner__content">
					<!-- <h4>Shopping made fun</h4> -->
					<h2>Browse Our Premium Electronics</h2>
					<p>Welcome to Cosmic Electronics! Explore a universe of cutting-edge computers, mobiles, TVs, and games. Find your next tech adventure here. Start browsing now!</p>
					<a class="button button-hero" href="#">Shop Now</a>
					<p>
						Central Queensland University<br />
						COIT12204 - Web Site Development (2023 Term 2) <br />
						Campus: External<br />
						Assignment 1 - eCommerce Website (Phase 2)<br />
						Student ID: 12184305<br />
						Student Name: Daniel Barros<br />
					</p>
				</div>
			</div>
		</div>
	</div>
</section>
<!--================ Hero banner end =================-->

<!-- ================ offer section start ================= -->
<section class="offer" id="parallax-1" data-anchor-target="#parallax-1">
	<div class="container">
		<div class="row">
			<div class="col-xl-5">
				<div class="offer__content text-center">
					<h3>30% Off All TVs</h3>
					<h4>Winter Sale</h4>
					<p>Until stocks last!</p>
					<a class="button button--active mt-3 mt-xl-4" href="#">Check Now!</a>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- ================ offer section end ================= -->